/* Not include to final site !!!*/




.task1 {
    color: azure;
    font-family: "Open Sans", sans-serif;
}

.tasks-biglink {
/*    text-decoration: none;*/
    color: lightblue;
    padding: 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}
main {display: flex;}

aside {
/*    position: fixed;
    right: 0;*/
    padding-left: 17px;
    font-family: "Open Sans", sans-serif;
    display: inline-block;

}

.content-wrap {
    /*width: calc(100% - 300px);*/
    position: relative;
    width: 100%;
    margin-right: 20px;
}

article + pre {
    /*border: 5px dot-dot-dash royalblue;*/
    border: 5px dotted purple;
}
aside article:active {
    box-shadow: 2px 2px 5px #fc894d;
}
article {
    color: seagreen;
}

aside {
    background-color: burlywood;
    border-top-left-radius: 50px 100px;

    border: 5px dashed royalblue;
}

aside article:hover {
    background-color: bisque;
    color: aliceblue;

}

#lnk1:visited {
    color: forestgreen;
/*    text-decoration-color: hotpink;*/
}

.task3-1 {
    color: #652704;
}

form input:invalid  + span::after{
    padding-left: 5px;
    content: "✖";
}

form input:valid  + span::after{
    padding-left: 5px;
    content: "✓";
}

form input {
    display: list-item;

    margin-bottom: 8px;
}

form
{
/*    align-items: baseline;
    justify-content: space-between;*/
    background: dimgrey;
    border-radius: 20px;
    display: block;
    margin-bottom: 8px;
    box-sizing: border-box;
}


form input:focus {
    border: 2px double  royalblue;
}

form input::placeholder {
    color: red;
    font-style: oblique;
}

.task-item {
    padding: 40px;
}


@media only screen and (max-width: 1090px) {
    /* Phones */

    .task5-b1 {
        display: flex; align-content: space-between; justify-items: center; background: #fc894d;
    }

    #t5-main-block-1 {
        visibility: hidden;
        display: none;
    }
    #ti5-m {
        width: 100%;

    }
    #ti6-m {
        width: 100%;
        border-radius: 20px;

    }

}

@media only screen and (min-width: 1091px) {
    /* Desktop and big screen*/
    #t5-mobile-block-1 {
        visibility: hidden;
        display: none;
    }
        .task5-b1 {
        display: flex; align-content: flex-start; background: #fc894d;
    }

    #ti2 {
        width: 100%;
    }
    #ti5 {
         width: 100%;
    }
}

#b1 {
    position: relative;
    width: 256px;
    height: 64px;
    background: #fc894d;

}

@keyframes b1-anim {
    from {}
    10% {
        transform: rotate(45deg);
        width: 180px;
        height: 50px;
    }
    25% {
        transform: rotate(10deg);
        width: 128px;
        height: 32px;
    }
    50% {
        transform: rotate(-10deg);
        width: 180px;
        height: 50px;
    }
    75% {
        transform: rotate(-45deg);
        width: 210px;
        height: 58px;
    }
    to {
        transform: rotate(0deg);
        width: 256px;
        height: 64px;
    }

}

@keyframes b2-anim {
    from {}
    10% {
        transform: rotate(45deg);
        width: 180px;
        height: 50px;
        color: #fc894d;
    }
    25% {
        transform: rotate(10deg);
        width: 128px;
        height: 32px;
        color: orange;
    }
    50% {
        transform: rotate(-10deg);
        width: 180px;
        height: 50px;
        color: #fc894d;
    }
    75% {
        transform: rotate(-45deg);
        width: 210px;
        height: 58px;
        color: red;
    }
    to {
        transform: rotate(0deg);
        width: 256px;
        height: 64px;
        color: pink;
    }

}


#b1:focus {
    /*animation-name: b1-anim;
    animation-duration: 3s;*/
    animation: b1-anim 10s alternate ease-in -.2s;
}

#b2 {
    transition-delay: .3s;
    width: 256px;
    height: 64px;
    background: #652704;
}
#b2:active {
     animation: b2-anim 0.3s alternate ease-out infinite;
}

@keyframes b3-anim {
    from {}
    10% {

        transform: skewY(0deg);
        color: pink;
    }
    25% {
        transform: skewY(25deg);
        color: dodgerblue;
    }
    50% {
        transform: skewY(50deg);
        color: pink;
    }
    75% {
        transform: skewY(-25deg);
        color: dodgerblue;
    }
    to {
        transform: skewY(0deg);
        color: pink;
    }

}



#b3 {
    width: 256px;
    height: 64px;
    background: yellowgreen;
}
#b3:focus {
    animation: b3-anim 10s alternate ease-in -.2s;
}

@keyframes b4-anim {
    from {}
    10% {

        transform: skewY(0deg);
        color: pink;
    }
    25% {
        transform: skewY(25deg);
        color: dodgerblue;
    }
    50% {
        transform: skewY(50deg);
        color: pink;
    }
    75% {
        transform: skewY(-25deg);
        color: dodgerblue;
    }
    to {
        transform: skewY(0deg);
        color: pink;
    }

}

#b4 {
    width: 256px;
    height: 64px;
    background: steelblue;

    transition: background-color 2.3s ease, border 0.2s linear;

}

#b4:hover {
    text-shadow: 1px 1px 0 #FFE3BD, 2px 2px 0 #FFE3BD, 3px 3px 0 #FFE3BD, 4px 4px 0 #FFE3BD, 5px 5px 0 #FFE3BD;
    border: 5px inset #9F908F;
    background-color: #E0CABB;
}

#b4:hover ~ #p2::after {
    /*border: 7px lightgreen dotted;*/
    content: "😀";
}

#b4:hover ~ #p2::before {
    /*border: 7px lightgreen dotted;*/
    content: "😢";
}
/*#b4:hover::before {*/
/*    border: 7px lightgreen dotted;*/
/*}*/

/*#b4:hover::before {*/
/*    border: 7px deeppink dotted;*/
/*}*/



#tm1 {
    display: flex;
    /*  visibility: hidden;*/
    position: relative;

    left: -128px;
    top: -2em;
    margin: 0;
    padding: 16px 0;
    list-style: none;

    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    background: blue;
    opacity: 0;

}

#tm1 button {
    border-radius: 5px;
    background-color: #d6f5f4;
    height: 3em;
}

#tm1 button:hover {
    border-radius: 5px;
        height: 4em;
    border: 5px inset rgba(91, 196, 187, 0.9);;
}
#m1 {
    background-color: yellowgreen;
}

#m1:hover  ~ #tm1 {
/*    visibility: visible;
    left: 32px;
    top: 90px;
    border-radius: 32px;
    height: 300px;*/
    background: red;
    transform: translateX(8em);
    opacity: 1;
}

#tm1:hover{
/*    visibility: visible;
    left: 32px;
    top: 90px;
    border-radius: 32px;
    height: 300px;*/
    background: red;
    transform: translateX(8em);
    opacity: 1;
}


/*#m1:hover ~ #tm1 > button::before{
    background: #fc894d;
    height: 256px;
    border: 7px lightgreen dotted;
}*/

/*#m1:hover ~ #tm1 > button::after {
    background: green;
    height: 256px;
    border: 7px deeppink dotted;
}*/


.video-card-cls {
    width: 10em;
    height: 10em;
    background-color: lightblue;

    opacity: 0;
    position: relative;
    left: -10em;
    transition: opacity .9s ease, left 1s ease;
    z-index: 5;
}
.video-cls video {
    position: relative;
    top: -10em;
    z-index: 1;
}

.video-cls:hover .video-card-cls{
    opacity: 1;
    left: 3em;
}

.video-cls:hover .video-card-cls p::before{
    content: "This is my video... I don't know what say more...";
}