.language-switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;

    margin-left: 1em;
}

.language-switch input {
    opacity: 0;
    width: 0;
    height: 8px;
}

.language-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 8px;
    opacity: 0.4;
}

.language-switch-off {
    margin-top: -1.1em;
    margin-left: 5px;
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    transition: .4s;
    opacity: 1;
}

.language-switch-on {
    margin-left: 5px;
    margin-top: -1.1em;
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    transition: .4s;
    opacity: 0;
}

.language-switch input:checked + .language-switch-slider {
    background-color: #ccc;
}

.language-switch input:focus + .language-switch-slider {
    box-shadow: 0 0 1px #ccc;
}

.language-switch input:checked ~ .language-switch-off {
    transform: translateX(2em);
    opacity: 0;
}

.language-switch input:checked ~ .language-switch-on {
    transform: translateX(2em);
    opacity: 1;
}