.footer-card {

    /*display: inline-block;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 152, 143, 0.6);
    border-radius: 15px;
    padding: 8px;
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: none;
    box-shadow: 1px 1px 5px 3px rgba(128, 128, 128, 0.4);

    height: 6em;
}

.footer-table {
    border: 1px dotted red;

    display: flex;
    box-sizing: border-box;

    justify-content: center;
    align-content: center;
    list-style: none;
}

.footer-link {
    text-decoration: none;
    color: azure;
    padding: 0;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
}

.footer {
    text-align: center;
    align-items: center;

    list-style: none;

    background-color: #25293d;
    padding: 8px;

    border-radius: 20px;

    height: 7em;


    justify-content: center;
    box-sizing: border-box;



/*    position: fixed;
    bottom: 0;*/

}

/*
.navbar-nav {
    display: flex;
    justify-content: flex-start;
}*/

.footer-contacts {
    padding: 0;
    margin: 0;

    text-decoration: none;
    color: azure;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;


    justify-content: start;
    align-items: center;
    text-align: start;

}

#footer {
    /*margin-bottom: -50px;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    min-height: 32px;
}

.footer-table {
    position: relative;
    opacity: 0;
    top: 128px;
    transition: opacity .9s ease, top 1s ease;
}
#footer:hover  .footer-table {
    top: 0;
    opacity: 1;
}
#footer:hover{
    /*background-color: red;*/
 /*   height: 100px;*/
}

#_7days-weather-box {
    display: flex;
    position: relative;
/*    border: 5px dotted royalblue;*/

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;

    list-style: none;
    padding: 8px;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 2;


}


.text-404 {
    text-decoration: none;
}


.loader-indicator {
    border: 12px dotted #f3f3f3; /* Light grey */
    /*border-top: 16px dashed #3498db; !* Blue *!*/
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: loader-indicator-spin 3s linear infinite;
}
.loader-host {
    display: flex;
    position: relative;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;

    list-style: none;
    padding: 8px;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 2;
}

@keyframes loader-indicator-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.forecast-12-days-cards-block {
    display: flex;
    position: relative;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;

    list-style: none;
    padding: 8px;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 2;
}


#today-forecast-block {
    display: grid;
}

#main-page-today-forecast-average-info-host {
    background-color: rgba(246, 161, 2, 0.79);
    border-radius: 16px;
}


#copyright-notification {

    position: fixed;
    bottom: -0.9em;
    left: 16px;
    font-family: "Open Sans", sans-serif;
    z-index: 64;
}

#copyright-notification a{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

@media only screen and (min-width: 1191px) {
    /* Desktop and big screen*/
    #copyright-notification {
        font-size: 24px;
    }
    #copyright-notification a {
        font-size: 24px;
    }

}
@media only screen and (max-width: 1190px) {
    /* Phones */

    #copyright-notification {
        font-size: 16px;
    }
    #copyright-notification a {
        font-size: 16px;
        font-size: 16px;
    }
}
