.captcha-container {
    margin: 16px;
    /*background: #7952b3;*/
    border-radius: 16px;
}

.captcha-container input {
    margin-left: 32px;
    margin-top: 16px;
}

#captcha {
    margin-left: 32px;
}

#captcha-container {
    border: 3px royalblue solid;
/*    border: 3px red solid;*/
}

#login {
    display: block;
}
#password {
    display: block;
}

#login-btn {
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 32px;
    display: block;
/*    disabled: true;*/
}

.t10-card {
    margin-bottom: 16px;
    border-radius: 8px;
    border: 4px lightseagreen solid;
    background: #32555b;
}
.t10-card p {
    margin: 10px;
    font-family: "Open Sans", sans-serif;
}



#notification-section {
    position: fixed;
    height: 18em;
    min-height: 256px;
    width: 16em;
    background-color: rgba(121, 82, 179, 0.64);
    top: 4em;
    right: 4em;
    border-radius: 3em;
}


.t12-notification{
    margin-bottom: 16px;
    border-radius: 16px;
    border: 4px #02c4ff dotted;
    background: #336e7977;
}

.t12-notification p{
    margin: 12px;
    font-family: "Open Sans", sans-serif;
}