@media only screen and (max-width: 1100px) {
    /* Phones */
    main {
        display: grid;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1360px) {
    /* lite Desktop and laptops */
    main {
        display: grid;
    }
    main div{
        background: lightgray;

    }
    .task8-main{
        background: lightblue;
        grid-area: 3 / 2 / 3 / 5;
    }
    .task8-header{
        background: lightgreen;
        /*         rs / cs / re / ce */
        grid-area: 1 / 1 / 1 / 5;
    }
    .task8-aside{
        background: lightsalmon;
        /*         rs / cs / re / ce */
        grid-area: 3 / 1 / 3 / 1;
    }
    .task8-nav{
        background: lightseagreen;
        /*         rs / cs / re / ce */
        grid-area: 2 / 1 / 2 / 5;
    }
    .task8-footer {
        background: lightpink;
        /*         rs / cs / re / ce */
        grid-area: 4 / 2 / 4 / 5;
    }
}

@media only screen and (min-width: 1191px)
{
        /* Desktop and big screen*/
        main {
        display: grid;
    }
    main div{
        background: lightgray;

    }
    .task8-main{
        background: lightblue;
        grid-area: 3 / 2 / 3 / 5;
    }
    .task8-header{
        background: lightgreen;
        /*         rs / cs / re / ce */
        grid-area: 1 / 1 / 1 / 6;
    }
    .task8-aside{
        background: lightsalmon;
        /*         rs / cs / re / ce */
        grid-area: 2 / 1 / 4 / 1;
    }
    .task8-nav{
        background: lightseagreen;
        /*         rs / cs / re / ce */
        grid-area: 2 / 2 / 2 / 5;
    }
    .task8-footer {
        background: lightpink;
        /*         rs / cs / re / ce */
        grid-area: 4 / 1 / 4 / 6;
    }
    .task8-ads {
        grid-area: 2 / 5 / 4 / 5;
    }
}
.task8-main{
        min-height: 512px;
    }

div {
    border: 5px solid red;
    border-radius: 25px;
    margin: 8px;
}

p {
    margin: 8px;
    color: azure;
}


.item {
    background: darkslategray;
    border-radius: 10px;
}

.item:hover {
    background: rgba(255, 105, 180, 0.37);
}

.container-1 {
    display: grid;
    border: 5px solid royalblue;
}

.item-1 {
    /*         rs / cs / re / ce */
    grid-area: 1 / 1 / 1 / 3;
}

.item-2 {
    /*         rs / cs / re / ce */
    grid-area: 1 / 3 / 3 / 3;
}
.item-3 {
    /*         rs / cs / re / ce */
    grid-area: 1 / 4 / 1 / 4;
}
.item-4 {
    /*         rs / cs / re / ce */
    grid-area: 2 / 1 / 4 / 1;
}
.item-5 {
    /*         rs / cs / re / ce */
    grid-area: 2 / 2 / 2 / 2;
}
.item-6 {
    /*         rs / cs / re / ce */
    grid-area: 2 / 4 / 2 / 4;
}
.item-7 {
    /*         rs / cs / re / ce */
    grid-area: 3 / 2 / 3 / 5;
}

.task8_block-hover{
    background: #25293d;
    position: relative;
    bottom: -1em;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.item:hover .task8_block-hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(-1.1em);
    background: #7952b3;
}

/*
.item::before {
  content: "";
  position: relative;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #7952b3;
  height:26px;
  width: 80px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 1.25s ease-out;
}

.item:hover::before{
    transition-delay:0.2s ;

  transform: scale(20);
}*/

.container-2 {
    display: grid;
    border: 1px solid royalblue;
    background: black;
    border-radius: 10px;
    margin: 8px;
}
.container-2 h2 {
    text-align: center;
    color: azure;
    font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1191px) {
    /* Desktop and big screen*/
    .c-item-0 {
        /*         rs / cs / re / ce */
        grid-area: 1 / 1 / 1 / 3;
    }


    .c-item-1 {
        /*         rs / cs / re / ce */
        grid-area: 2 / 1 / 2 / 1;
    }

    .c-item-2 {
        /*         rs / cs / re / ce */
        grid-area: 2 / 2 / 2 / 2;
    }
}

.c-item {
/*    display: flex;*/
    align-items: center;
    align-content: center;


}
.c-item input:focus {
    box-shadow: lightskyblue 0 4px 0 0;
    background: rgba(0, 139, 139, 0.56);
    border: none;
    /*background: red;*/
    outline: none;
    border-radius: 5px;
}


.c-item input{
    width: 90%;
    display: block;
    transition: box-shadow 0.5s ease-in-out, background 0.7s ease-in-out, border-radius 0.6s ease-in-out;

    box-shadow: cornflowerblue 0 2px 0 0;
    color: azure;
    font-size: 1em;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    background: #43444d33;
    lighting-color: azure;
    border: none;
    margin: 15px;
}
.c-item input::placeholder {
    color: azure;
    font-weight: bold;
}

.c-item-s {
    width: 70%;
    height: 70%;
    display: block;
    transition: box-shadow 0.5s ease-in-out, background 0.4s ease-in-out;

    box-shadow: cornflowerblue 0 2px 0 0;
    color: azure;
    font-family: "Open Sans", sans-serif;
    background: rgba(19, 129, 176, 0.69);
    lighting-color: azure;
    border: none;
    border-radius: 8px;
    margin: 15px;
    text-align: center;
}

.c-item-s:hover {
     background: rgba(14, 168, 234, 0.8);
}

.c-item-s-container {
    margin: 0;
    border: none;
    display: flex;
    /*justify-content: center;*/
    align-content: center;
    align-items: center;

}

.container-3 {
    display: grid;
    background: cornflowerblue;
    border-radius: 10px;
    margin: 8px;
}

.task8-footer_2-block p {
    font-family: "Open Sans", sans-serif;
    color: azure;
    font-weight: bold;
}
.task8-footer_2-block h3 {
    margin-left: 8px;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    color: azure;
    font-weight: bold;
}

.task8-footer_2-block {
    border: none;
}

@media only screen and (min-width: 1191px) {
    /* Desktop and big screen*/
    .t8-f2-block-0{
        /*         rs / cs / re / ce */
        grid-area: 1 / 1 / 1 / 1;
        /*background: royalblue;*/
    }
    .t8-f2-block-1{
        /*         rs / cs / re / ce */
        grid-area: 1 / 2 / 1 / 3;
        /*background: green;*/
    }

    .t8-f2-block-2{
        /*         rs / cs / re / ce */
        grid-area: 1 / 3 / 1 / 4;
        /*background: red;*/
    }
    .t8-f2-block-3{
        /*         rs / cs / re / ce */
        grid-area: 1 / 4 / 1 / 5;
        /*background: red;*/
    }

}
@media only screen and (min-width: 1100px) and (max-width: 1360px) {
/* lite Desktop and laptops */
    .t8-f2-block-0{
        /*         rs / cs / re / ce */
        grid-area: 1 / 1 / 1 / 1;
        /*background: royalblue;*/
    }
    .t8-f2-block-1{
        /*         rs / cs / re / ce */
        grid-area: 1 / 2 / 1 / 3;
        /*background: green;*/
    }

    .t8-f2-block-2{
        /*         rs / cs / re / ce */
        grid-area: 2 / 1 / 2 / 2;
        /*background: red;*/
    }

}