@media only screen and (min-width: 1191px) {
    /* Desktop and big screen*/
    .weather-card-big {
        display: inline-block;
        align-items: center;
        background-color: rgba(24, 78, 101, 0.6);
        border-radius: 15px;
        padding: 8px;
        text-decoration: none;
        opacity: 0.8;

        position: relative;

        color: azure;
        font-size: 22px;
        font-family: "Open Sans", sans-serif;
    }

    .weather-card-big-week {
        margin-left: 10px;
        margin-right: 10px;
    }

    .weather-card-big p {
        padding: 0;
        margin: 0;
    }

    .weather-card-big-image {
        height: 5em;
        width: 5em;
    }
}

@media only screen and (max-width: 1190px) {
    /* Phones */
    .weather-card-big {
        position: relative;
        display: block;
        align-items: center;
        background-color: rgba(24, 78, 101, 0.6);
        border-radius: 15px;
        padding: 8px;
        text-decoration: none;
        opacity: 0.8;

        color: azure;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
    }

    .weather-card-big-week {
        margin-left: 6px;
        margin-right: 6px;
    }

    .weather-card-big p {
        padding: 0;
        margin: 0;
    }

    .weather-card-big-image {
        height: 4em;
        width: 4em;
    }

}

.weather-card-big {
    top: 0;
    transition: padding .5s ease, border .3s ease;
/*    display: inline-flex;*/
    /*position: relative;*/
    position: static;
    display: inline-block;
    margin-bottom: 8px;

}

.weather-card-big:hover {
    /*box-shadow: 1px 1px 0 rgba(37, 151, 155, 0.3), 2px 2px 0 rgba(28, 189, 196, 0.6), 3px 3px 0 rgba(28, 189, 196, 0.8), 4px 4px 0 rgba(14, 216, 225, 0.9), 5px 5px 0 rgba(14, 216, 225, 1);*/
    border: 3px inset rgba(91, 196, 187, 0.9);
    padding: 16px;

}

.weather-card-big-horizontal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;


    background-color: rgba(24, 78, 101, 0.6);
    border-radius: 15px;
    text-decoration: none;
    opacity: 0.8;
    padding-right: 16px;
    /*padding-top: 8px;*/
    margin: 16px 8px 8px;

    color: azure;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.weather-card-big-horizontal img {
    display: inline-block;
}
.weather-card-big-horizontal p {
    display: block;
}