.weather-card-big {
    display: inline-block;
    align-items: center;
    background-color: rgba(24, 78, 101, 0.6);
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    opacity: 0.8;

    color: azure;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
}

.weather-card-big-week {
    margin-left: 10px;
    margin-right: 10px;
}

.weather-card-big p {
    padding: 0;
    margin: 0;
}

.weather-card-big-image {
    height: 5em;
    width: 5em;
}