body {
    background-color: #D0D0D0FF;
}



.navbar {
    background-color: #32555b;
}

.navbar-right {
    background-color: #32555b;
}

@media only screen and (max-width: 1290px) {
    /* Phones */
#nav-header-left {
    background-color: #b0dae3cf;
}
}

.text-404 {
    background: #25293d;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #4c5050;
    text-align: center;
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
}

#copyright-notification a{
    color: #1d5f9d;
}

#copyright-notification {
    color: #384f4f;
}

h1 {
    color: #4c5050;
    text-align: center;
    font-size: 32px;
    font-family: "Open Sans", sans-serif;
}

#about-page-text-block p {
    color: #2f3636;
}