body {
    background-color: #def1ee;
}



.navbar {
    background-color: #32555b;
}

.navbar-right {
    background-color: #32555b;
}

@media only screen and (max-width: 1090px) {
    /* Phones */
#nav-header-left {
    background-color: #b0dae3;
    opacity: 100%;
}
}