body {
    background-color: #43444d;
}

.navbar {
    background-color: #25293d;
}

.navbar-right {
    background-color: #25293d;
}

@media only screen and (max-width: 1090px) {
    /* Phones */
#nav-header-left {
    background: #25293d;
    opacity: 100%;
}
}